@font-face {
    font-family: 'modernline';
    src: url('../fonts/modernline-webfont.woff2') format('woff2'),
         url('../fonts/modernline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}