// ------------------
// --- Sizes -------
// -----------------
$canvas-ratio-width: 1;
$canvas-ratio-height: 2;
$canvas-height: 90;

// ------------------
// --- Colors -------
// -----------------
$c-background: #000000; 
$c-photo: #FFFFFF;
$c-controllers: #FFFFFF; 
$c-title: #313131;
$c-text: #575757;
$c-text-background: #FFFFFF;